PORT=3000
CORS_ORIGIN=https://convitedomeujeito.shzergerdeveloper.com
HOTMART_URL=https://pay.hotmart.com/SEU_LINK_AQUI
EXIGE_CODIGO=true
# DEMO_CODIGO=DEMO-CASAMENTO
# FFMPEG_PATH=
# FFPROBE_PATH=
# FONTS_DIR=
